@font-face {
	font-family: 'Optimus Princeps';
	font-style: normal;
	font-weight: 400;
	src: url(/FONTS/OptimusPrinceps.ttf) format('ttf');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'),
		url(https://cdn.kastatic.org/fonts/lato/Lato-Regular.woff2) format('woff2');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: local('Lato Bold'), local('Lato-Bold'),
		url(https://cdn.kastatic.org/fonts/lato/Lato-Bold.woff2) format('woff2');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
	src: local('Lato Black'), local('Lato-Black'),
		url(https://cdn.kastatic.org/fonts/lato/Lato-Black.woff2) format('woff2');
}

/*👉Universal👈*/
body {
	background-color: #fff5d9;
	font-family: 'Lato';
	display: flex;
	flex-direction: column;
	padding: 10vh 10vw;
	margin: 0 auto;
	align-items: center;
}
body > div {
	width: 500px;
}
p {
	font-family: 'Lato';
	margin-block-start: 0;
	line-height: 18px;
	font-weight: 400;
}
h1 {
	font-family: 'Optimus Princeps';
	font-size: 4rem;
	letter-spacing: 0.25rem;
	margin-block-start: 0;
	margin-block-end: 0.5rem;
	font-weight: 500;
}
h2 {
	font-family: 'Optimus Princeps';
	font-size: 2.5rem;
	letter-spacing: 0rem;
	margin-block-start: 0;
	margin-block-end: 0.25rem;
	font-weight: 500;
	text-align: center;
}
h3 {
	font-family: 'Lato';
	font-size: 1.1rem;
	letter-spacing: 0rem;
	margin-block-start: 2rem;
	margin-block-end: 0.2rem;
	font-weight: 700;
	text-transform: uppercase;
	text-align: left;
	letter-spacing: 0.1rem;
	line-height: 1.3rem;
}
h4 {
	margin-block-start: 0rem;
	margin-block-end: 0.2rem;
	text-align: center;
}
ol {
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
	counter-reset: intentions;
}

li::before {
	content: counter(intentions) '. ';
	font-weight: 700;
	position: relative;
	right: 20px;
	width: 0;
	white-space: nowrap;
}

li::after {
	content: '';
	background: url(/IMAGES/grabbable.svg) no-repeat center;
	position: absolute;
	left: -24px;
	top: 0;
	fill: gray;
	width: 24px;
	height: 32px;
	visibility: hidden;
}
li:hover:after {
	visibility: visible;
}

ol > div {
	position: relative;
}

ol > div > button {
	background: url(/IMAGES/Remove.svg) no-repeat center;
	position: absolute;
	top: 4px;
	right: 5px;
	width: 24px;
	height: 24px;
	border-radius: 12px;
	visibility: hidden;
}

ol > div:focus-within > button {
	visibility: visible;
}

ol > div:hover > button {
	visibility: visible;
}

[contenteditable]:focus {
	border: transparent;
	outline: 0px dotted transparent;
	background-color: #ffe499;
	border-radius: 2px;
}


li {
	display: flex;
	flex-direction: row;
	counter-increment: intentions;
	font-family: 'Lato';
	font-size: 1.1rem;
	letter-spacing: 0rem;
	margin-block-start: 0rem;
	margin-block-end: 0rem;
	font-weight: 400;
	text-align: left;
	line-height: 1.3rem;
	padding: 7px 25px 4px 25px;
	position: relative;
}

.remove {
	content: '';
	background: url(/IMAGES/Remove.svg) no-repeat center;
	position: absolute;
	right: -24px;
	top: 0;
	width: 24px;
	height: 32px;
	visibility: visible;
}

li:focus,
li:active {
	border: none;
}

/*👉Used Once
👈*/
.Journal {
	letter-spacing: 1rem;
	font-weight: 700;
	margin-block-start: 0rem;
	margin-block-end: 7rem;
	font-size: 1rem;
	text-align: center;
}
.opener {
	position: fixed;
	display: flex;
	flex-direction: column;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	animation-name: Loader;
	animation-duration: 1.5s;
	animation-delay: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: both;
	animation-timing-function: ease-out;
	z-index: 1;
	background-color: #fff5d9;
}
.dates {
	text-align: center;
	white-space: pre;
}
.Intentions {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	justify-content: flex-start;
	justify-self: stretch;
}
.line {
	border-top: 1px solid #ffe499;
	height: 1px;
	margin-top: 20px;
}

.duaParent {
	margin: 0px -10px;
	padding: 10px;
}

.duaParent:focus-within {
	background-color: #ffe499;
}

.duaHere {
	min-height: 4rem;
	border-radius: 2px;
	line-height: 2rem;
	background-color: transparent;
	background-color: none;
	background-image: linear-gradient(transparent 0.07em, #fff5d9 0.07em),
		linear-gradient(to right, rgb(0, 0, 0) 33%, rgba(255, 255, 255, 0) 0%);
	background-size: 3px 2rem;
	background-clip: content-box;
	background-position: 0px -4px;
}

.duaHere:focus {
	background-image: linear-gradient(transparent 0.07em, #ffe499 0.07em),
		linear-gradient(to right, rgb(122, 122, 122) 33%, rgba(255, 255, 255, 0) 0%);
}

/*👉Overwrite formatting last child in Intentions list👈*/

div:last-child > li::after {
	visibility: hidden;
	content: 'Add list item';
	background: none;
	position: absolute;
	opacity: 50%;
	top: 0;
	bottom: 0;
	left: 25px;
	padding: 7px 0px 4px 0px;
	/*👉display: flex;
	align-items: center;👈*/
	width: unset;
	font-size: 1rem;
}

div:last-child > li:empty:after {
	visibility: visible;
}

div:last-child > li:focus::after {
	visibility: hidden;
}

div:last-child > li::before {
	visibility: visible;
	content: '';
	background: url(/IMAGES/add.svg) no-repeat center;
	position: absolute;
	opacity: 50%;
	top: 0;
	left: 0px;
	width: 24px;
	height: 32px;
}
ol > div:last-child > button {
	display: none;
}

button {
	outline: 0px dotted transparent;
	border: none;
}

button:hover {
	background-color: rgb(0, 0, 0, 0.1);
}
.reflections {
	--reflectionBack: #e7e3d8;
	background-color: var(--reflectionBack);
	backdrop-filter: opacity(0.5);
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin: 20px -10px 0px;
	padding: 25px 10px 10px;
}
.reflections > p {
	text-align: center;
}

.reflections:focus-within {
	--reflectionBack: #ffe499;
}

.reflectionText {
	width: 100%;
	min-height: 6rem;
	border-radius: 2px;
	line-height: 2rem;
	background-color: var(--reflectionBack);
	background-color: none;
	background-image: linear-gradient(
			transparent 0.07em,
			var(--reflectionBack) 0.07em
		),
		linear-gradient(to right, rgb(0, 0, 0) 33%, rgba(255, 255, 255, 0) 0%);
	background-size: 3px 2rem;
	background-clip: content-box;
	background-position: 0px -4px;
}

.reflectionText:focus {
	background-color: var(--reflectionBack);
}

@keyframes Loader {
	0% {
		color: #fff5d9;
		transform: scale(1);
		opacity: 1;
	}
	20% {
		color: black;
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	99% {
		opacity: 0;
		transform: scale(1.1);
	}
	100% {
		transform: translateY(-100%);
	}
}

.printOnly{
	display: none;
}

@media print {
	body{
		padding: 30px 0px 0px;
	}
	.printOnly{
		display: block;
	}
	.hideOnPrint{
		display: none;
	}
	.line {
		border-top: 1px solid transparent;
		margin-top: 10px;
	}
	ol > div:last-child{
		display: none;
	}
	h3{
		margin-block-start: 1rem;

	}
	.reflections{
		outline: 1px solid #ffe499;
		background-color: #fff5d9;
	}
	.reflectionText{
		background-image: linear-gradient(
			transparent 0.07em, #fff5d9 0.07em
		),
		linear-gradient(to right, rgb(0, 0, 0) 33%, rgba(255, 255, 255, 0) 0%);
	}
	.duaHere{
		background-image: linear-gradient(transparent 0.07em, #fff 0.07em),
		linear-gradient(to right, rgb(0, 0, 0) 33%, rgba(255, 255, 255, 0) 0%);
	}	
}

@media print and (color) {
	* {
	   -webkit-print-color-adjust: exact;
	   print-color-adjust: exact;
	}
 }